# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here
import sqlite3
conn=sqlite3.connect("data.sqlite")
cursor=conn.cursor()

In [11]:
cursor.execute('''select name from sqlite_master''').fetchall()

[('orderdetails',),
 ('payments',),
 ('offices',),
 ('customers',),
 ('orders',),
 ('productlines',),
 ('products',),
 ('employees',)]

In [5]:
cursor.execute('''PRAGMA table_info("products")''').fetchall()

[(0, 'productCode', '', 0, None, 0),
 (1, 'productName', '', 0, None, 0),
 (2, 'productLine', '', 0, None, 0),
 (3, 'productScale', '', 0, None, 0),
 (4, 'productVendor', '', 0, None, 0),
 (5, 'productDescription', '', 0, None, 0),
 (6, 'quantityInStock', '', 0, None, 0),
 (7, 'buyPrice', '', 0, None, 0),
 (8, 'MSRP', '', 0, None, 0)]

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [14]:
#Your code here
cursor.execute('''select * from employees as EM 
left join offices as OF using(officeCode)
where OF.city="Boston"''').fetchall()

[('1188',
  'Firrelli',
  'Julie',
  'x2173',
  'jfirrelli@classicmodelcars.com',
  '2',
  '1143',
  'Sales Rep',
  'Boston',
  '+1 215 837 0825',
  '1550 Court Place',
  'Suite 102',
  'MA',
  'USA',
  '02107',
  'NA'),
 ('1216',
  'Patterson',
  'Steve',
  'x4334',
  'spatterson@classicmodelcars.com',
  '2',
  '1143',
  'Sales Rep',
  'Boston',
  '+1 215 837 0825',
  '1550 Court Place',
  'Suite 102',
  'MA',
  'USA',
  '02107',
  'NA')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [7]:
#Your code here
cursor.execute('''select * from employees as EP
right join offices as OF on EP.officeCode=OF.officeCode
where EP.employeeNumber is NULL''').fetchall()

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here
b

## Level Up: Display the names of each product each employee has sold

In [10]:
cursor.execute("Pragma table_info('customers')").fetchall()

[(0, 'customerNumber', '', 0, None, 0),
 (1, 'customerName', '', 0, None, 0),
 (2, 'contactLastName', '', 0, None, 0),
 (3, 'contactFirstName', '', 0, None, 0),
 (4, 'phone', '', 0, None, 0),
 (5, 'addressLine1', '', 0, None, 0),
 (6, 'addressLine2', '', 0, None, 0),
 (7, 'city', '', 0, None, 0),
 (8, 'state', '', 0, None, 0),
 (9, 'postalCode', '', 0, None, 0),
 (10, 'country', '', 0, None, 0),
 (11, 'salesRepEmployeeNumber', '', 0, None, 0),
 (12, 'creditLimit', '', 0, None, 0)]

In [42]:
# Your code here
len(cursor.execute('''select employeeNumber, productname from employees as EP join customers as CU
on EP.employeeNumber=CU.salesRepEmployeeNumber
join orders as OD using(customerNumber)
join orderdetails as ODD using(orderNumber)
join products as PD using(productcode)
where employeenumber=="1165"''').fetchall())

OperationalError: no such column: distince

## Level Up: Display the Number of Products each employee has sold

In [36]:
# Your code here
cursor.execute('''select count(productname) as count, employeeNumber from employees as EP join customers as CU
on EP.employeeNumber=CU.salesRepEmployeeNumber
join orders as OD using(customerNumber)
join orderdetails as ODD using(orderNumber)
join products as PD using(productcode)
group by employeeNumber''').fetchall()

[(331, '1165'),
 (114, '1166'),
 (124, '1188'),
 (152, '1216'),
 (142, '1286'),
 (211, '1323'),
 (177, '1337'),
 (396, '1370'),
 (272, '1401'),
 (236, '1501'),
 (220, '1504'),
 (185, '1611'),
 (185, '1612'),
 (137, '1621'),
 (114, '1702')]

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!